@page
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@inject IWebHostEnvironment env

<body>


    <h3>Login</h3>
    <form method="post" asp-page-handler="Create">

        <input type="text" placeholder="Gebruikersnaam" asp-for="NewUser.Username" />
        <input type="text" placeholder="Wachtwoord" asp-for="NewUser.Password" />
        <button type="submit">Log in</button>

    </form>


    <h3>Register</h3>


    <form method="post" asp-page-handler="Create">

        <input type="text" placeholder="Gebruikersnaam" asp-for="NewUser.Username" />
        <input type="text" placeholder="Wachtwoord" asp-for="NewUser.Password" />
        <input type="checkbox" asp-for="NewUser.Admin">
        <button type="submit">Register</button>

    </form>

</body>