@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>


    <h3>inloggen</h3>

    <form action="Lijst.html" method="POST">

        <table>
            <tr>
                <td>Gebruikersnaam:</td>
                <td>
                    <input type="text" name="user" placeholder="Gebruikersnaam ">
                </td>
            </tr>

            <tr>
                <td>Wachtwoord:</td>
                <td>
                    <input type="text" name="user_pass" placeholder="Wachtwoord">
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" value="log in">
                </td>
            </tr>

        </table>

    </form>
</body>