@page
@model OkMooi.Pages.VretenModel
@{
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robot Site</title>
    <link rel="stylesheet" href="/Style.css">
</head>
<body>

    <!-- NavBar -->
    <div class="topnav">

        <!-- Midden -->
        <div class="topnav-centered">
            <a href="#home" class="active">Home</a>
        </div>

        <!-- Links aan de linker kant -->
        <a href="#Comments">Comments</a>
        <a href="#Forum">Forum</a>
        <a href="#Wiki">Wiki</a>

        <!-- Zoekbalk -->
        <div class="topnav-right">
            <form action="/action_page.php">
                <input type="text" placeholder="Zoeken..." name="search">

            </form>
        </div>

    </div>

</body>
